body, html {
    height: 100%;
  }
.bg { 
    /* The image used */
    background-image: url('../img/FONDO.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
  }
  